<div class="header">
  <div class="side-image">
    <img src="/assets/gaur-nitai.png" class="gauramarg-left d-none d-xl-block" alt="">
    <img src="/assets/gaur-nitai.png" class="gauramarg-right d-none d-xl-block" alt="">
  </div>
  <gm-alerts></gm-alerts>
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand" [routerLink]="'/'">
        <img src="/assets/gaur-nitai.png" width="30" height="30" class="d-inline-block align-top" alt="">Gaura Marg
      </a>
      <button class="navbar-toggler btn btn-outline-primary" type="button" data-toggle="collapse"
              data-target="#gaurammargtoggle" aria-expanded="false" aria-label="Toggle navigation"
              (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed"
              aria-controls="gaurammargtoggle">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="gaurammargtoggle" [ngbCollapse]="isCollapsed">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        </ul>
        <div class="form-inline my-2 my-lg-0">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
              <a class="nav-link" [hidden]="!userService.isAuthenticated" [routerLink]="'/holi'"
                 routerLinkActive="active">Holi 2018</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="'/events'" routerLinkActive="active">Events</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="'/nhfamily'">NH Family</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [hidden]="!userService.isAuthenticated" [routerLink]="'/profile'">profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [hidden]="userService.isAuthenticated" [routerLink]="'/login'">Login</a>
            </li>
            <li class="nav-item" [hidden]="!userService.isAuthenticated">
              <div ngbDropdown class="d-inline-block">
                <a class="nav-link" id="profile" ngbDropdownToggle>Admin</a>
                <div ngbDropdownMenu aria-labelledby="profile">
                  <button class="dropdown-item">Manage user</button>
                  <button class="dropdown-item">Holi 2018 Guests</button>
                  <button class="dropdown-item">Upload CSV file</button>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</div>
