.card {
  margin-bottom: 7px;
}

.result {

}

ngb-rating {
  font-size: 30px;
}
.fa-car {
  color: #6b4724;
  font-size: 22px;
}

.star {
  font-size: 1.5rem;
  color: #d1e2ff;
}

.filled {
  color: #1e90ff;
}
.bad {
  color: #d8d8d8;
}
.filled.bad {
  color: #ff1e1e;
}

.ticket {
  .list-group-item {
    padding: 2px 2px;
  }
}

.fa-check-circle {
  color: #216b07;
}

.form-row {
  margin-bottom: 10px;
}
