<div class="container-fluid">
  <div class="card">
    <div class="card-header">
      <h4>Filter</h4>
      <small>Filter attendance</small>
    </div>
    <div class="card-body">
      <!--<form [formGroup]="form" (ngSubmit)="submit(model)">
        <formly-form [form]="form" [fields]="fields" [model]="model"></formly-form>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>-->
      <form [formGroup]="attendanceForm" (ngSubmit)="search(model)">
        <div class="form-group">
          <label for="coursesId">Email address</label>
          <select id="coursesId" formControlName="courseId" (ngModelChange)="changeCourse($event)">
            <option [value]="''">--select--</option>
            <option *ngFor="let opt of courseOptions; let i = index" [value]="opt.value">{{opt.label}}</option>
          </select>
          <small id="emailHelp" class="form-text text-muted">Select the course to add attendance of students</small>
          <!--<div class="errorMessage" *ngIf="!isValid">{{courseId}} is required</div>-->
        </div>
        <div class="form-group">
          <label for="classDate">Class date</label>
          <input type="date" formControlName="classDate" class="form-control" id="classDate"/>
        </div>
        <div class="form-group">
          <label for="classTime">Class time</label>
          <input type="time" formControlName="classTime" class="form-control" id="classTime"/>
        </div>

        <button type="submit" class="btn btn-primary">Search</button>
      </form>
    </div>
  </div>


  <div class="container-fluid">
    <div class="card">
      <div class="card-header">Attendances</div>
      <div class="card-body">
        <div class="row heading">
          <!--<div class="col"> teacherId</div>-->
          <div class="col">Student ID</div>
          <div class="col">Date time</div>
          <div class="col">Time</div>
          <div class="col">Approved</div>
          <div class="col">Notes</div>
        </div>
        <div class="row" *ngFor="let attendance of attendanceList">
          <!--<div class="col"> {{course.teacherId}}</div>-->
          <div class="col">{{attendance && attendance.studentId}}</div>
          <div class="col"> {{attendance && attendance.classTimeString}}</div>
          <div class="col"> {{attendance && attendance.classTime}}</div>
          <div class="col"> {{attendance && attendance.approved}}</div>
          <div class="col"> {{attendance && attendance.notes}}</div>
        </div>
      </div>
    </div>
  </div>

</div>
