<div class="card">
  <div class="card-header">
    <h5>NH Family</h5>
  </div>
  <div class="card-body">
    <h6>What is Nama-hatta?</h6>
    <p>
      Nama-hatta is the most traditional of the congregational programs and mirrors the organization of a regular ISKCON
      temple with the leader and his assistants in the center. There is no membership limit and some groups become quite
      large. Groups function under the direct supervision of ISKCON preachers responsible for the area. Minimally
      experienced devotees can serve as group leaders. Training of existing members and recruitment of new ones depend
      largely on the group leader’s initiative and inspiration by visiting preachers.
    </p>
    <h6>
      Interviewer: How did the Nama-hatta start in ISKCON Mayapur?
    </h6>
    <p>
      H.H. Jayapataka Swami: In 1977, there was a change in government and the new government was the Left Front
      government. Somehow or other our temple was attacked. That is another story but that was the cause for us to
      organize a response. So we organized about 3000 persons in a procession to all the main roads of West Bengal, a
      shanti procession- that they shouldn’t attack devotees, we want peace. There were 168 kirtan groups and Radha
      Dyuti Prabhu came and said to me that this is amazing that every group is doing the same kirtan, but each one is
      singing in a different tune, a different melody. It is so ecstatic. So I thought we could organize all these
      kirtan groups and we will have a kirtan type organization. So my first idea was ISO- ISKCON Sankirtan
      Organization.
    </p>
    <p>
      I went to Srila Prabhupada and took his blessings. He said this is very good. But you should sometime bring them
      to the ISKCON temple, have them stay for about 3 days, see how we do the worship and they should do the same thing
      in their villages. So we encouraged and they started to organize like this. Bhakti Charu Maharaj gave me a book
      called Gaudiya Patrika and Srila Prabhupada was the President of that issue. In that issue there was a reprint of
      5 articles of Bhaktivinoda Thakura’s articles on Nama-hatta. That was called the Godruma Kalpatavi, special desire
      tree in the gardens of Godruma. Then I said why should we call it a different name like ISKCON Sankirtan
      Organization when our previous acaryas have already given the name Nama-hatta. So instead of calling ISKCON
      Sankirtan Organization, we called it the Nama-hatta – the Hare Krishna Nama-hatta. So like that we have Raghava
      Pandit who was active in organizing the Nama-hatta. That time I went to Orissa and with the help of Goura Govinda
      Maharaj, I brought a book called rules, aims, methods, administration of Nama-hatta. So we thought that it was
      important to put down rules so that we had some organization otherwise there would be a lot of speculation on how
      things should be done. This was not fully implemented but to a large degree it was followed. We took the
      inspiration from Bhaktivinoda Thakura’s description of Nama-hatta. Also where some details were missing, we saw
      how other organizations ran and we took some lines from Rotary Club rules and regulations to fill in the details.
      So we started to enroll Nama-hatta groups. First we had about 45 groups, then 150, then 250, 350, eventually we
      had 2,000 groups. In West Bengal, Orissa, Assam but some of these groups were not very active so then we had to
      boil it down, I think we now have between 500-1000 groups now. I don’t know the exact number now. That’s how it
      started in Mayapur. So we had the mercy of Srila Prabhupada, Bhaktivinoda Thakura and the previous acaryas, the
      gurus and GBCs of ISKCON.
    </p>
    <h6>
      Interviewer: Is ISKCON implementing Bhaktivinoda Thakura’s vision of Nama-hatta? What is that vision? How far have
      we implemented that vision?
    </h6>
    <p>
      H.H. Jayapataka Swami: We can’t say about all the different temples of the world. But by and large, Mayapur
      Nama-hatta is following Bhaktivinoda Thakura. We added some details. We only had 5 issues of Bhaktivinoda
      Thakura’s Godruma Kalpatavi so Bhaktivinoda Thakura had circle leaders, district leaders. We added up chakras,
      maha chakras, then district. We only put circle leaders from Bhaktivinoda Thakura’s. We thought a circle was very
      big so we put up chakras sena pati, one third of a chakra, then 3 chakras is a maha chakra. Bhaktivinoda Thakura’s
      was a circle so we followed that.
    </p>
    <p>
      I found 2 prapannam ashram Nama-hatta temples which were founded by Bhaktivinoda Thakura in early 1900s. One of
      the prapannam ashram was in Mindipore and it was actually a temple. It was written Nama-hatta prapannam ashram
      established in so and so year. We have Nama-hatta temple, Nama-hatta Chandra (?),Nama-hatta sanga. When they
      established a temple it’s a Nama-hatta temple. ISKCON is generally following Bhaktivinoda Thakura’s system. He was
      very dynamic. Like he said ladies could be preachers. Before, ladies were not encouraged to go out to preach. Now
      we have men leaders and lady leaders both. Bhaktivinoda Thakura said any music can be used but the lyrics should
      be Krishna conscious. So we also use this in ISKCON. I think we finished Godruma Kalpatavi, I think 1 or 2 pages
      are left to be finished, so we will try to publish that so that everyone can see how Bhaktivinoda Thakura had made
      the Nama-hatta.
    </p>
    <p>content taen from <a
      href="http://www.iskconcongregation.com/programs/nama-hatta/bhaktivinoda-thakuras-nama-hatta-program/">
      ISKCON Nama-hatta
    </a>
    </p>
  </div>
</div>
