<div class="jumbotron">
  <div class="container">
    <h5>Search guest</h5>
    <div class="form-row align-items-center">
      <div class="col-auto">
        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <span class="input-group-text">email</span>
          </div>
          <input type="text" [(ngModel)]="email" (keyup.enter)="emailSearch()" class="form-control" placeholder="Email">
          <div class="input-group-append">
            <button type="button" class="btn btn-outline-primary" (click)="emailSearch()">Email</button>
          </div>
        </div>
      </div>
    </div>

    <div class="form-row align-items-center">
      <div class="col-auto">
        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <div class="input-group-text">Name</div>
          </div>
          <input type="text" class="form-control" [(ngModel)]="name" (keyup.enter)="nameSearch()" placeholder="Name">
          <div class="input-group-append">
            <button type="button" class="btn btn-outline-primary" (click)="nameSearch()">Name</button>
          </div>
        </div>
      </div>
    </div>

    <div class="form-row align-items-center">
      <div class="col-auto">
        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <div class="input-group-text">Postcode</div>
          </div>
          <input type="text" class="form-control" [(ngModel)]="postcode" (keyup.enter)="postcodeSearch()" placeholder="Post/Zip code">
          <div class="input-group-append">
            <button type="button" class="btn btn-outline-primary" (click)="postcodeSearch()">postcode</button>
          </div>
        </div>
      </div>
    </div>

    <div class="form-row align-items-center">
      <div class="col-auto">
        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <span class="input-group-text">Doorcode</span>
            <span class="input-group-text">02-</span>
          </div>
          <input type="text" class="form-control" [(ngModel)]="doorcode" (keyup.enter)="doorcodeSearch()" placeholder="Door code">
          <div class="input-group-append">
            <button type="button" class="btn btn-outline-primary" (click)="doorcodeSearch()">Doorcode</button>
          </div>
        </div>
      </div>
    </div>


    <div class="form-row align-items-center">
      <div class="col-auto">
        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <div class="input-group-text">Mobile</div>
          </div>
          <input type="text" class="form-control" [(ngModel)]="mobile" (keyup.enter)="mobileSearch()" placeholder="Mobile">
          <div class="input-group-append">
            <button type="button" class="btn btn-outline-primary" (click)="mobileSearch()">Mobile</button>
          </div>
        </div>
      </div>
    </div>

  </div>

  <hr class="my-4">

  <div *ngFor="let result of results; let i = index" class="card result">
    <div class="card-header d-flex justify-content-between">
      <h6>{{result.name}}{{result.email && '(' + result.email + ')' }}</h6>
      <div>
        <ul class="list-inline">
          <li class="list-inline-item"><i class="fa fa-car" [hidden]="!result.premiumParking"></i></li>
        </ul>
      </div>
    </div>
    <div class="card-block">
      <div class="container">
        <div class="row">
          <div class="col-5">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">{{result.address}} {{result.city}} {{result.state}}, {{result.postCode}}
              </li>
              <li class="list-group-item">{{result.barCode}}/{{result.doorCode}}</li>
            </ul>
          </div>
          <div class="col-5">
            <ul class="list-group list-group-flush ticket">
              <li class="list-group-item">
                <ngb-rating [(rate)]="result.entered" max="{{result.generalAdmission + result.comboTicket}}">
                  <ng-template let-fill="fill" let-index="index">
                    <i class="star fa fa-ticket" [class.filled]="fill === 100" [class.bad]="index < 3"></i>
                  </ng-template>
                </ngb-rating>
              </li>
              <li class="list-group-item">
                <ngb-rating [(rate)]="result.colorTaken" max="{{result.comboTicket * 2 }}">
                  <ng-template let-fill="fill" let-index="index">
                    <i class="star fa fa-paint-brush" [class.filled]="fill === 100" [class.bad]="index < 3"></i>
                  </ng-template>
                </ngb-rating>
              </li>
            </ul>
          </div>
          <div class="col-2">
            <ul class="list-group list-group-flush">
              <li class="list-group-item"
                  [hidden]="!((((result.generalAdmission + result.comboTicket) - result.entered) <= 0) && (result.comboTicket > 0  && (result.colorTaken >= (result.comboTicket * 2))))">
                <button type="button" class="btn btn-success mb-2" (click)="makeEntry(result, i)">
                  Check In<i class="fa fa-spinner fa-spin fa-fw" *ngIf="loading"></i>
                </button>
              </li>
            </ul>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
