<div class="container-fluid">
  <ul class="list-group">
    <li class="list-group-item d-flex justify-content-between align-items-center">
      <a class="nav-link" [routerLink]="'/teacher/course-list'" routerLinkActive="active">All courses</a>
      <span class="badge badge-primary badge-pill">14</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
      <a class="nav-link" [routerLink]="'/teacher/register-course'" routerLinkActive="active">Register Course</a>
      <span class="badge badge-primary badge-pill">2</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
      <a class="nav-link" [routerLink]="'/teacher/add-student'" routerLinkActive="active">Add Student</a>
      <span class="badge badge-primary badge-pill">1</span>
    </li>
     <li class="list-group-item d-flex justify-content-between align-items-center">
      <a class="nav-link" [routerLink]="'/teacher/student-list'" routerLinkActive="active">Students</a>
      <span class="badge badge-primary badge-pill">1</span>
    </li>
  </ul>
</div>
