/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


/* You can add global styles to this file, and also import other style files */
$a-tags: 'a, a:active, a:hover, a:visited';
$a-tags-hover: 'a:active, a:hover';

#{$a-tags} {
  color: #aae0ff;
  text-decoration: none;
}
#{$a-tags-hover} {
  color: #c4ffc7;
}


@mixin box-shadow($x-axis: 0, $y-axis: 1px, $blur: 2px, $color: $default) {
  box-shadow: $x-axis $y-axis $blur $color;
}

.card {
  margin: 5px;
  @include box-shadow(5px, 5px, 5px, #333);
  .card-header {
    background: #216b07;
  }
}
